<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="static/css/theme.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
  <script src="static/js/script.js?123"></script>
  <script> function checkScroll(){
    	var startY = 0; //The point where the navbar changes in px
      if($(window).scrollTop() > startY){
        $('#fixednav').addClass("scrolled");
      }else{
        $('#fixednav').removeClass("scrolled");
      }
  	}
  </script>
</head>

<body class="bg-light" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light sticky-top" id="fixednav" style="">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar20">
        <p class="navbar-brand text-white mb-0">
          <i class="fa d-inline fa-lg fa-stop-circle"></i> BRAND </p>
      </button>
      <div class="collapse navbar-collapse" id="navbar20">
        <ul class="navbar-nav col">
          <li class="nav-item"> <a class="nav-link text-white" href="/">Home</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="#">Settings</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="#">About</a> </li>
        </ul>
        <p class="d-none d-md-block lead text-white col mb-0 text-center" style=""> <i class="fa d-inline fa-lg fa-link"></i> <b>Anylink</b> </p>
        <ul class="navbar-nav col justify-content-end px-0">
          <li class="nav-item mr-0 ml-4 text-primary"><a class="nav-link text-white" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 w-25" style="">
          <div class="btn-group w-100">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Devices&nbsp;</button>
            <div class="dropdown-menu w-100 text-center" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
            {% for chan in chans %}
              <a class="dropdown-item" href="#">{{ chan.getpeername()[0] }}</a>
              <div class="dropdown-divider"></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <form action="" style="" method="POST">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-center">
              <div class="card-header text-secondary" style="">Device</div>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button onsubmit="set_type('file')" class="btn btn-primary">Download File! </button>
              </div>
            </div>
          </div>
          <ul class="col-md-6">
            <div class="list-group">
              <li class="list-group-item list-group-item-action active">
                <strong class="text-info">File Browser</strong>
              </li>
              <li class="list-group-item list-group-item-action">
                <input id='back_button' name="files" onsubmit="set_type('back')" type="submit" class="file">
                <label for='back_button'>..</label>
              </li>
              {% for d in dirs %}
              <li class="list-group-item list-group-item-action">
                <input id='{{ loop.index }}d' name="files" onsubmit="set_type('dir');set_path('{{ d }});" type="submit" class="file">
                <label for='{{ loop.index }}d'>{{ d }}</label>
              </li>
              {% endfor %}
              {% for f in files %}
              <li class="list-group-item list-group-item-action">
                <input id="{{ loop.index }}f" name="files" type="sumbit" class="file">
                <label for="{{ loop.index }}f">{{ f }}</label>
              </li>
              {% endfor %}
              <input hidden = "true" value="FALSE" name="dir" id='dir'>
              <input hidden = "true" value="FALSE" name="back" id='back'>
              <input hidden = "true" value="FALSE" name="file" id='file'>
              <input hidden = "true" value="" name="new_path" id='file_path'>
            </div>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>

      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
  <div class="py-5">
    <div class="container"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $(function() {
      if ($('#fixednav').length > 0) {
        $(window).on("scroll load resize", function() {
          checkScroll();
        });
      }
    });
  </script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>