<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
    <title>Login anyling</title>
    <script type="text/javascript">
        function hashpass(obj){
            var pwdObj = document.getElementById('pwd');
            var hashObj = new jsSHA("SHA-256", "TEXT", {numRounds: 1});
            hashObj.update(pwdObj.value);
            var hash = hashObj.getHash("HEX");
            pwdObj.value = hash;
        }
    </script>
</head>
<body>
<form action="" method="POST">
    <input type = 'username' name = 'username'>
    <input type="password" id="pwd" name="username">
    <input type="submit" onsubmit="hashpass(this)">
</form>
</body>
</html>